<div class="container-fluid footerbg mt-5">
  <footer class="py-3">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">{{'Home' | translate}}</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">{{'Features' | translate}}</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">{{'Pricing' | translate}}</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">{{'FAQs' | translate}}</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">{{'About' | translate}}</a></li>
    </ul>
    <p class="text-center text-muted">© 2023 Easy Trade Company, Inc</p>
  </footer>
</div>